.nav-pills li a:hover{
    background-color: rgb(25, 39, 230);  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    min-height: 100vh;
    background-image: url(green.jpg)no-repeat 0 0;
    /* background-size: cover; */
    background-size:100%;
    background-position: center;
    height: 100vh;
}

.side-bar{
    background: rgba(255, 255  , 255, 0.1);
    backdrop-filter: blur(15px);
    width: 290px;
    height: 500vh;
    position: fixed;
    /* top: 0;
    left: 0;
    overflow-y: auto; */
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    max-height: 100%;
    /* overflow-y: auto;  -->no sidebar scrolling allowed*/
}
.side-bar .active{
left: 0;
}

.side-bar .menu{
    width: 100%;
    margin-top: 80px;
}
.side-bar .menu .item a{
color: #000;
font-size: 16px;
text-decoration: none;
display: block;
padding: 5px 30px;
line-height: 60px;
}

.side-bar .menu .item a:hover{
    background: #8621F8;
    transition: 0.3s ease;
}

.side-bar .menu .item i{
    margin-right: 15px;
}
.side-bar .menu .item a .dropdown{
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu{
    background: rgba(255, 255  , 255, 0.1);
    display: none;
}
.side-bar .menu .item .sub-menu .a{
    padding-left: 80px;
}
.rotate{
    transform: rotate(90deg);
}
