.side-bar{
    background: rgba(255, 255  , 255, 0.1);
    backdrop-filter: blur(15px);
    width: 370px;
    height: 500vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}



.submenu {
	display: none;
}

.mainmenu {
	margin: 1px;
	line-height: 30px;
	background: #0769AD url(plus.png) left top no-repeat;
}

.mainmenu a {
	margin: 10px;
	color: #FFFFFF;
	text-decoration: none;
	padding-left: 20px;
}

.submenu ul {
	list-style: none;
	margin: 0;
	padding: 0px;
}

.submenu li {
	background-color: #EEEEEE;
	margin: 0px 0px 1px 4px;
	line-height: 30px;
}

.submenu li a {
	color: #000000;
}
