.nav-pills li a:hover{
    background-color: rgb(25, 39, 230);  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}


.side-bar{
    background: #0769AD;
    backdrop-filter: blur(15px);
    width: 370px;
    height: 500vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    max-height: 100%;
    /* overflow-y: auto;  -->no sidebar scrolling allowed*/
   
}

.side-bar .menu{
    width: 100%;
    margin-top: 10px;
}
.side-bar .menu .item a{
    margin: 10px;
	color: #FFFFFF;
	text-decoration: none;
	padding-left: 20px;

}

.side-bar .menu .item a:hover{
    /* background: #1e07f1; */
    margin: 10px;
	color: #FFFFFF;
	text-decoration: none;
	padding-left: 20px;
    transition: 0.3s ease;
}

.side-bar .menu .item i{
    /* margin-right: 5px; */
    margin: 10px;
	color: #FFFFFF;
	text-decoration: none;
	padding-left: 20px;
}
.side-bar .menu .item a .dropdown{
    position: absolute;
    right: 0;
    margin: 10px;
    transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu{
    background: rgba(72, 9, 245, 0.925);
    display: none;
    margin: 10px;
	color: #FFFFFF;
	text-decoration: none;
	padding-left: 20px;
}
.side-bar .menu .item .sub-menu .a{
    padding-left: 40px;
}

  

.main {
margin-left: 200px; /* Same as the width of the sidenav */
font-size: 20px; /* Increased text to enable scrolling */
padding: 0px 10px;
}


.active {
background-color: rgb(12, 16, 248);
color: rgb(37, 15, 238);
margin: 10px;
	color: #FFFFFF;
	text-decoration: none;
	padding-left: 40px;
}
.nav-link{
    color:white;margin-left:30px
}
